@page "/addSpecialTarget"
@inject IJSRuntime JSRuntime
@using System.Text.RegularExpressions
@inject DialogService DialogService
@inject NotificationService NotificationService
@inject NavigationManager NavigationManager
@using Radzen
@using System.Text.Json


<div id="main">
    <RadzenTemplateForm TItem="ProgramTarget" Data=@programTarget Submit="OnSubmit" InvalidSubmit="OnInvalidSubmit">
        <RadzenCard Style="padding-left:45px;">
            <div class="wizard-heading" style="align-content:center;">Add New Target</div>
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <div class="col-4">
                            <label>Year<span>&nbsp;<sup style="color:red">*</sup></span></label>
                        </div>
                        <div class="col-7">
                            <RadzenDropDown AllowClear="true" TValue="string" Class="w-100" Placeholder="" Data="@year" Name="year"
                                    SelectedItem="selectedYear" @bind-Value="selectedYear" Style="display: block" />
                            <RadzenRequiredValidator Component="year" Text="Year is required" Style="position: absolute" />
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-4">
                            <label>District<span>&nbsp;<sup style="color:red">*</sup></span></label>

                            @* <RadzenLabel Text="District" />*@
                        </div>
                        <div class="col-7">
                            <RadzenDropDown AllowClear="true" TValue="int" Class="w-100" Placeholder="" Style="display: block;margin-bottom:3px;" Name="d" SelectedItem="selectedDistrict"
                                            Data="@listDistrict" ValueProperty="DepartmentUnitId" TextProperty="Name" @bind-Value="selectedDistrict" />
                            <RadzenRequiredValidator Component="d" Text="District is required" Style="position: absolute" />
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-4">
                            <label>Designation<span>&nbsp;<sup style="color:red">*</sup></span></label>

                            @*<RadzenLabel Text="Designation" />*@
                        </div>
                        <div class="col-7">
                            <RadzenDropDown AllowClear="true" TValue="int" Class="w-100" Placeholder="" Data="@listDesignation" Style="display: block" SelectedItem="selectedDesignation"
                                            ValueProperty="DesignationId" TextProperty="DesigntionName" @bind-Value="selectedDesignation" Name="desig" />
                            <RadzenRequiredValidator Component="desig" Text="Designation is required" Style="position: absolute" />
                        </div>
                    </div>
                    <br />

                </div>

                @*----------------------------*@
                <div class="col-6">

                    <div class="row">
                        <div class="col-4">
                           <label>Target<span>&nbsp;<sup style="color:red">*</sup></span></label>
                            @*<RadzenLabel Text="Target" />*@
                        </div>
                        <div class="col-7">
                            <RadzenRadioButtonList Orientation="Orientation.Horizontal" @bind-Value=@radioSelection TValue="int">
                                <Items>
                                    <RadzenRadioButtonListItem Text="District level" Value="1" TValue="int" />
                                    <RadzenRadioButtonListItem Text="DS Devision level" Value="2" TValue="int" />
                                </Items>
                            </RadzenRadioButtonList>
                        </div>
                    </div>

                    <br />

                    @foreach (var i in listUsers.Where(u => u.SystemUserId == selectedOfficer))
                    {
                        OfficerName = i.Name;
                    }

                    @if (radioSelection == 1)
                    {
                            <div class="row">
                                <div class="col-4">
                                    <RadzenLabel Text="DS Division" />
                                </div>
                                <div class="col-7">
                                    <RadzenDropDown AllowClear="true" TValue="int" Class="w-100" Placeholder="" Style="display: block" Name="Division" Disabled />
                                </div>
                            </div>
                            <br/>
                    }
                    else
                    {
                            <div class="row">
                                <div class="col-4">
                                    <label>DS Division<span>&nbsp;<sup style="color:red">*</sup></span></label>
                                @*<RadzenLabel Text="DS Division" />*@
                                </div>
                                <div class="col-7">
                                    <RadzenDropDown AllowClear="true" TValue="int" Class="w-100" Placeholder="" Style="display: block" Name="Division"
                                            Data="@listDSDivision.Where(u => u.ParentId == selectedDistrict)" ValueProperty="DepartmentUnitId" TextProperty="Name" @bind-Value="selectedDSDivision" />
                                    <RadzenRequiredValidator Component="Division" Text="Division is required" Style="position: absolute" />
                                </div>
                            </div>
                            <br />
                    }

                    @if (radioSelection == 1)
                    {
                        @if (selectedDesignation == 1)
                        {
                                    <div class="row">
                                        <div class="col-4">
                                            <label>Officer Name<span>&nbsp;<sup style="color:red">*</sup></span></label>
                                        </div>
                                        <div class="col-7">
                                            <RadzenDropDown Style="display: block" AllowClear="true" TValue="int" Class="w-100" Data="@listUser.Where(u => u.DepartmentUnitId == selectedDistrict && u._SystemUser.DesignationId == 1)"
                                            ValueProperty="SystemUserId" TextProperty="_SystemUser.Name" @bind-Value="selectedOfficer" Name="Officer" />
                                            <RadzenRequiredValidator Component="Officer" Text="OfficerName is required" Style="position: absolute" />
                                        </div>
                                    </div>

                            <br />
                        }
                        else
                        {
                                    <div class="row">
                                        <div class="col-4">
                                            <label>Officer Name<span>&nbsp;<sup style="color:red">*</sup></span></label>
                                        </div>
                                        <div class="col-7">
                                            <RadzenDropDown Style="display: block" AllowClear="true" TValue="int" Class="w-100" Data="@listUser.Where(u => u.DepartmentUnitId == selectedDistrict && u._SystemUser.DesignationId == 2)"
                                            ValueProperty="SystemUserId" TextProperty="_SystemUser.Name" @bind-Value="selectedOfficer" Name="Officer" />
                                            <RadzenRequiredValidator Component="Officer" Text="OfficerName is required" Style="position: absolute" />
                                        </div>
                                    </div>

                            <br />
                        } 

                        @foreach (var prop in listUser.Where(u => u.DepartmentUnitId == selectedDistrict))
                        {
                            depUnitPId = @prop.DepartmetUnitPossitionsId;
                        }
                    }

                    else
                    {
                        @if (selectedDesignation == 1)
                        { 
                                    <div class="row">
                                        <div class="col-4">
                                            <label>Officer Name<span>&nbsp;<sup style="color:red">*</sup></span></label>
                                        </div>
                                        <div class="col-7">
                                        <RadzenDropDown Style="display: block" AllowClear="true" TValue="int" Class="w-100" Data="@listUser.Where(u => u.DepartmentUnitId == selectedDSDivision && u._SystemUser.DesignationId == 1)"
                                            ValueProperty="SystemUserId" TextProperty="_SystemUser.Name" @bind-Value="selectedOfficer" Name="Officer" />
                                        <RadzenRequiredValidator Component="Officer" Text="OfficerName is required" Style="position: absolute" />
                                        </div>
                                    </div>

                            <br />
                        }
                        else
                        {
                                    <div class="row">
                                        <div class="col-4">
                                            <label>Officer Name<span>&nbsp;<sup style="color:red">*</sup></span></label>
                                        </div>
                                        <div class="col-7">
                                        <RadzenDropDown Style="display: block" AllowClear="true" TValue="int" Class="w-100" Data="@listUser.Where(u => u.DepartmentUnitId == selectedDSDivision && u._SystemUser.DesignationId == 2)"
                                            ValueProperty="SystemUserId" TextProperty="_SystemUser.Name" @bind-Value="selectedOfficer" Name="Officer" />
                                        <RadzenRequiredValidator Component="Officer" Text="OfficerName is required" Style="position: absolute" />
                                        </div>
                                    </div>

                            <br />
                        }

                        @foreach (var prop in listUser.Where(u => u.DepartmentUnitId == selectedDSDivision))
                        {
                            depUnitPId = @prop.DepartmetUnitPossitionsId;
                        }
                    }
                </div>
            </div>


        <br /><br />


            @*-------------------------- end of asignee details ------------------------*@


            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <div class="col-4">
                            <label>Program Type<span>&nbsp;<sup style="color:red">*</sup></span></label>
                            @*<RadzenLabel Text="Program Type" />*@
                        </div>
                        <div class="col-7">
                            <RadzenDropDown Style="display: block" AllowClear="true" TValue="int" Class="w-100" Name="t" Data="@listProgramType"
                                            ValueProperty="ProgramTypeId" TextProperty="ProgramTypeName" @bind-Value="programType"/>
                            <RadzenRequiredValidator Component="t" Text="Program Type is required" Style="position: absolute" />
                        </div>
                    </div>
                    <br />

                    @if (programType == 1)
                    {
                            <div class="row">
                            <div class="col-4">
                                <label>Program<span>&nbsp;<sup style="color:red">*</sup></span></label>
                                @*<RadzenLabel Text="Program" />*@
                            </div>
                            <div class="col-7">
                                <RadzenDropDown AllowClear="true" TValue="int" Class="w-100" Name="program1" Data="@program.Where(u => u.ProgramType == 1)"
                                            ValueProperty="ProgramId" TextProperty="ProgramName" @bind-Value="selectedProgramID" Style="display: block" />
                                <RadzenRequiredValidator Component="program1" Text="Program is required" Style="position: absolute" />
                            </div>
                        </div>
                        <br />
                    }
                    else
                    {
                            <div class="row">
                                <div class="col-4">
                                    <label>Program<span>&nbsp;<sup style="color:red">*</sup></span></label>
                                @*<RadzenLabel Text="Program" />*@
                                </div>
                                <div class="col-7">
                                    <RadzenDropDown AllowClear="true" TValue="int" Class="w-100" Name="program1" Data="@program.Where(u => u.ProgramType == 2)"
                                            ValueProperty="ProgramId" TextProperty="ProgramName" @bind-Value="selectedProgramID" Style="display: block" />
                                    <RadzenRequiredValidator Component="program1" Text="Program is required" Style="position: absolute" />
                                </div>
                            </div>
                            <br />
                    }

                    @foreach (var prop in program.Where(u => u.ProgramId == selectedProgramID))
                    {
                        selectedProgram = prop.ProgramName;
                    }


                    <div class="row">
                        <div class="col-4">
                            <label>Start Date<span>&nbsp;<sup style="color:red">*</sup></span></label>
                            @*<RadzenLabel Text="Start Date" />*@
                        </div>
                        <div class="col-7">
                            <RadzenDatePicker Name="s" @bind-Value="value1" DateFormat="d" Change=@(args => OnChange(args, "DatePicker", "MM/dd/yyyy")) Class="w-100" Style="display: block" />
                            <RadzenRequiredValidator Component="s" Text="Start Date is required" Style="position: absolute" />
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-4">
                            <label>End Date<span>&nbsp;<sup style="color:red">*</sup></span></label>
                            @*<RadzenLabel Text="End Date" />*@
                        </div>
                        <div class="col-7">
                            <RadzenDatePicker @bind-Value="value2" Name="e" DateFormat="d" Change=@(args => OnChange(args, "DatePicker", "MM/dd/yyyy")) Class="w-100" Style="display: block" />
                            <RadzenRequiredValidator Component="e" Text="End Date is required" Style="position: absolute" />
                        </div>
                    </div>
                    <br />

                </div>

                @*----------------------------*@
                <div class="col-6">
                    <div class="row">
                        <div class="col-4">
                            <label>Instructions<span>&nbsp;<sup style="color:red">*</sup></span></label>
                            @*<RadzenLabel Text="Instructions" />*@
                        </div>
                        <div class="col-7">
                            <RadzenTextArea @bind-Value="pInstruct" Class="w-100" Style="display: block" Name="Instructions" MaxLength="500"/>
                            <RadzenRequiredValidator Component="Instructions" Text="Instruction is required" Style="position: absolute" />
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-4">
                            <label>Description<span>&nbsp;<sup style="color:red">*</sup></span></label>
                            @*<RadzenLabel Text="Description" />*@
                        </div>
                        <div class="col-7">
                            <RadzenTextArea @bind-Value="description" Class="w-100" Style="display: block" Name="Description" MaxLength="500"/>
                            <RadzenRequiredValidator Component="Description" Text="Description is required" Style="position: absolute" />
                        </div>
                    </div>
                    <br />


                    <div class="row">
                        <div class="col-4">
                            <label>Vote<span>&nbsp;<sup style="color:red">*</sup></span></label>
                            @*<RadzenLabel Text="Vote" />*@
                        </div>
                        <div class="col-7">
                            <RadzenTextBox Class="w-100" Name="v" @bind-Value="vote" Style="display: block" />
                            <RadzenRequiredValidator Component="v" Text="Vote is required" Style="position: absolute" />
                        </div>
                    </div>
                    <br />
                </div>
            </div>
            <br/>


                <div class="row">
                    <div class="col-6">
                        <h4 style="font-weight:bold;">Target: physical / financial : </h4><br />
                    <div class="row">
                        <div class="col-4">
                            <label>Month<span>&nbsp;<sup style="color:red">*</sup></span></label>
                            @*<RadzenLabel Text="Month" />*@
                        </div>
                        <div class="col-7">
                            <RadzenDropDown AllowClear="true" TValue="int" Class="w-100" Placeholder="" Data="@monthTable" Name="m" 
                                            ValueProperty="monthNumber" TextProperty="monthName" @bind-Value="month" Style="display: block" />
                            <RadzenRequiredValidator Component="m" Text="Month is required" Style="position: absolute" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-4">
                            <label>Physical Count<span>&nbsp;<sup style="color:red">*</sup></span></label>
                            @*<RadzenLabel Text="Physical Count" />*@
                        </div>
                        <div class="col-7">
                            <RadzenTextBox @bind-Value="phyCount" Class="w-100" Style="display: block" Name="count1" />
                            <RadzenRequiredValidator Component="count1" Text="Physical Count is required" Style="position: absolute" />
                            <RadzenRegexValidator Component="count1" Text="Physical Count must be numeric" Pattern="\d+$" Style="position: absolute" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-4">
                            <label>Financial Count<span>&nbsp;<sup style="color:red">*</sup></span></label>
                            @*<RadzenLabel Text="Financial Count" />*@
                        </div>
                        <div class="col-7">
                            <RadzenTextBox @bind-Value="finCount" Class="w-100" Style="display: block" Name="finCount" />
                            <RadzenRequiredValidator Component="finCount" Text="Financial Count is required" Style="position: absolute" />
                            <RadzenRegexValidator Component="finCount" Text="Financial Count must be numeric" Pattern="[+-]?([0-9]*[.])?[0-9]+" Style="position: absolute" />
                        </div>
                    </div>
                    </div>
                </div>

                <br />

                <br /><br />

                <div class="row">
                <div class="col-6">
                    <h4 style="font-weight:bold;">Expected Output :  </h4><br />
                        <div class="row">
                            <div class="col-4">
                                <label>Output<span>&nbsp;<sup style="color:red">*</sup></span></label>
                            @*<RadzenLabel Text="Output" />*@
                            </div>
                            <div class="col-7">
                                <RadzenTextBox @bind-Value="output" Class="w-100" Style="display: block" Name="output" />
                                <RadzenRequiredValidator Component="output" Text="Output is required" Style="position: absolute" />
                                <RadzenRegexValidator Component="output" Text="Output must be a numeric value" Pattern="\d+$"  Style="position: absolute" />
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-4">
                                <label>Outcome<span>&nbsp;<sup style="color:red">*</sup></span></label>
                            @*<RadzenLabel Text="Outcome" />*@
                            </div>
                            <div class="col-7">
                                <RadzenTextBox @bind-Value="outcome" Class="w-100" Style="display: block" Name="outcome" />
                                <RadzenRequiredValidator Component="outcome" Text="Outcome or Remarks is required" Style="position: absolute" />
                                <RadzenRegexValidator Component="outcome" Text="Outcome must be a numeric value" Pattern="\d+$"  Style="position: absolute" />
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-4">
                                <RadzenLabel Text="Remarks" />
                            </div>
                            <div class="col-7">
                                <RadzenTextArea Class="w-100" Style="display: block" Name="r" />
                            </div>
                        </div>
                        <br />
                        <br/>

                    </div>
                </div>

            @*Click=@(args => DialogService.Confirm("Are you sure you want to save this ?", "Conformation", new ConfirmOptions() { OkButtonText = "Yes", CancelButtonText = "No" }))*@

            <div class="row">
                <div class="col-2">
                    <RadzenButton ButtonType="ButtonType.Submit" Text="Save" ButtonStyle="ButtonStyle.Secondary" Shade="Shade.Darker" Style="width:130px;" 
                    ></RadzenButton>
                </div>
                <div class="col-2">
                    <RadzenButton ButtonType="ButtonType.Reset" Text="Clear" ButtonStyle="ButtonStyle.Secondary" Shade="Shade.Darker" Style="width:130px;"></RadzenButton>
                </div>
                @if (isClicked == true)
                {
                        <input onclick="document.getElementById('id02').style.display='block'" type="button" class="rdzn-btn" value="Send to Recommondation" style="width:230px;" />
                }
                else
                {
                        <RadzenButton Shade="Shade.Darker" Text="Send to Recommondatin" ButtonStyle="ButtonStyle.Secondary" Style="width:230px;" Disabled />
                }
            </div>
            <br />

        </RadzenCard>

    </RadzenTemplateForm>

    @*---------------- Dialog box -----------------------*@

        <div class="w3-container">

            <div id="id01" class="w3-modal">
                <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:40%;">

                    <div class="w3-center">
                        <br>
                        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-xlarge w3-display-topright" title="Close Modal">&times;</span>
                        <h2>Recommondation</h2>
                    </div>

                    <form class="w3-container" action="/action_page.php" style="padding:70px">
                        <div class="w3-section" >
                            <label><b>Recommondation Type</b></label>
                            <select class="form-select" aria-label="Default select example" required>
                                <option selected>Open this select menu</option>
                                <option value="1">Send to recommondation</option>
                                <option value="2">Send to approval</option>
                            </select>

                            <br/><br/>

                            <label><b>Officer Name</b></label>
                            <select class="form-select" aria-label="Default select example" required>
                                <option selected>Open this select menu</option>
                                <option value="1">Mr. R Fernando</option>
                                <option value="2">Mrs. A Abhesinghe</option>
                            </select>
                        </div>
                    </form>

                    <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                        <div class="row justify-content-evenly">
                            <div class="col-4">
                                <input onclick="document.getElementById('id01').style.display='none'" type="button" class="red-btn" value="Cancel"  style="width:160px;" />
                            </div>
                            <div class="col-4">
                                <input onclick="document.getElementById('id01').style.display='none'" type="button" class="blue-btn" value="Send" style="width:160px;" />
                            </div>
                        </div>
                   </div>

                </div>
            </div>
        </div>

    @*---------------------------------------*@

</div>





@code {

    string[] year = { "2022", "2023" };

    List<Month> monthTable = new List<Month>();

    string[] arrVote = { "328-02-01-02-2509", "428-02-01-02-2509", "528-02-01-02-2509", "628-02-01-02-2509" };

    string[] user;



    private bool isClicked = false;
    private int selectedDistrict;
    private int selectedDSDivision;
    private int selectedProgramID;
    private string selectedProgram;
    private int selectedDesignation;
    private int selectedOfficer;
    private string OfficerName;
    private int month;
    private int depUnitPId;
    private int radioSelection;


    private string selectedYear;
    private int programType;
    private string pInstruct = "";
    private string vote = "";
    private string description = "";

    private string phyCount;
    private string finCount;

    private string output;
    private string outcome;

    string message = "Insert Success";
    int TargetResponse = 0;

    ProgramTarget programTarget = new ProgramTarget();
    List<ProgramTarget> searchTarget = new List<ProgramTarget>();
    ProgramAssignee programAssignee = new ProgramAssignee();
    List<DepartmentUnit> listDistrict = new List<DepartmentUnit>();
    List<DepartmentUnit> listDSDivision = new List<DepartmentUnit>();
    List<Designation> listDesignation = new List<Designation>();
    List<ProgramType> listProgramType = new List<ProgramType>();
    List<DepartmentUnitPositions> listUser = new List<DepartmentUnitPositions>();
    List<SystemUser> listUsers = new List<SystemUser>();
    List<ProgramTarget> allTargets = new List<ProgramTarget>();
    List<ManPowerCore.Domain.Program> program = new List<ManPowerCore.Domain.Program>();



    protected override void OnInitialized()
    {
        base.OnInitialized();

        monthTable.Add(new Month() { monthName = "January", monthNumber = 1 });
        monthTable.Add(new Month() { monthName = "February", monthNumber = 2 });
        monthTable.Add(new Month() { monthName = "March", monthNumber = 3 });
        monthTable.Add(new Month() { monthName = "April", monthNumber = 4 });
        monthTable.Add(new Month() { monthName = "May", monthNumber = 5 });
        monthTable.Add(new Month() { monthName = "June", monthNumber = 6 });
        monthTable.Add(new Month() { monthName = "July", monthNumber = 7 });
        monthTable.Add(new Month() { monthName = "August", monthNumber = 8 });
        monthTable.Add(new Month() { monthName = "September", monthNumber = 9 });
        monthTable.Add(new Month() { monthName = "October", monthNumber = 10 });
        monthTable.Add(new Month() { monthName = "November", monthNumber = 11 });
        monthTable.Add(new Month() { monthName = "December", monthNumber = 12 });

        DepartmentUnitTypeController _DepartmentUnitTypeController = ControllerFactory.CreateDepartmentUnitTypeController();
        listDistrict = _DepartmentUnitTypeController.GetDepartmentUnitType(2, true)._DepartmentUnit;
        listDSDivision = _DepartmentUnitTypeController.GetDepartmentUnitType(3, true)._DepartmentUnit;

        DesignationController designationController = ControllerFactory.CreateDesignationController();
        listDesignation = designationController.GetAllDesignation(true, false);

        SystemUserController systemUserController = ControllerFactory.CreateSystemUserController();
        listUsers = systemUserController.GetAllSystemUser(true, false, false);

        ProgramTypeController programTypeController = ControllerFactory.CreateProgramTypeController();
        listProgramType = programTypeController.GetAllProgramType(false);

        DepartmentUnitPositionsController unitPositionsController = ControllerFactory.CreateDepartmentUnitPositionsController();
        listUser = unitPositionsController.GetAllDepartmentUnitPositions(false, false, true, false, true);

        ProgramController programController = ControllerFactory.CreateProgramController();
        program = programController.GetAllProgram(false);

        ProgramTargetController programTargetController = ControllerFactory.CreateProgramTargetController();
        allTargets = programTargetController.GetAllProgramTarget(false, false, false, false);
    }

    void search(int year, int month)
    {
        ProgramTargetController programTargetController = ControllerFactory.CreateProgramTargetController();
        searchTarget = programTargetController.GetAllProgramTarget(year, month, false, false, true, false);

    }





    //----------------------------- validator ------------------------------//

    void OnSubmit(ProgramTarget programTarget)
    {

        Console.WriteLine($"Submit: {JsonSerializer.Serialize(programTarget, new JsonSerializerOptions() { WriteIndented = true })}");
        ProgramTargetController programTargetController = ControllerFactory.CreateProgramTargetController();
        ProgramAssigneeController programAssigneeController = ControllerFactory.CreateProgramAssigneeController();

        if (value1 == null || value2 == null)
        {
            JSRuntime.InvokeAsync<object>("ErrorAlert", "error", "", "Please enter a Date");
        }
        else if (value1.Date >= value2.Date)
        {
            JSRuntime.InvokeAsync<object>("ErrorAlert", "error", "", "Please Enter a Valid End Date");
        }
        else if (value1.Year < int.Parse(selectedYear) || value2.Year < int.Parse(selectedYear))
        {
            JSRuntime.InvokeAsync<object>("ErrorAlert", "error", "", "Can not set Start/End Dates for Previous Years");
        }
        else
        {
            isClicked = true;
            programTarget.ProgramTypeId = programType;
            programTarget.ProgramId = selectedProgramID;
            programTarget.Title = selectedProgram;
            programTarget.Description = description;
            programTarget.Instractions = pInstruct;
            programTarget.StartDate = value1;
            programTarget.EndDate = value2;
            programTarget.VoteNumber = vote;
            programTarget.NoOfProjects = int.Parse(phyCount);
            programTarget.EstimatedAmount = float.Parse(finCount);
            programTarget.TargetYear = int.Parse(selectedYear);
            programTarget.TargetMonth = month;
            programTarget.Output = int.Parse(output);
            programTarget.Outcome = int.Parse(outcome);
            programTarget.IsRecommended = 0;
            programTarget.RecommendedBy = "";
            programTarget.RecommendedDate = DateTime.Now;

            programTarget._ProgramAssignee.Add(new ProgramAssignee()
                {
                    DesignationId = selectedDesignation,
                    ProgramAssigneeId = selectedOfficer,
                    DepartmentUnitPossitionsId = depUnitPId,
                });

            TargetResponse = programTargetController.SaveProgramTarget(programTarget);


            if (TargetResponse != 0)
            {
                JSRuntime.InvokeAsync<object>("ErrorAlert", "success", "", "validate success");
                programTarget = new ProgramTarget();
                NavigationManager.NavigateTo($"/addDme21");
            }
            else
            {
                JSRuntime.InvokeAsync<object>("ErrorAlert", "error", "", "Something went wrong");
                programTarget = new ProgramTarget();
            }
        }
    }

    void OnInvalidSubmit(FormInvalidSubmitEventArgs args)
    {
        Console.WriteLine($"InvalidSubmit: {JsonSerializer.Serialize(args, new JsonSerializerOptions() { WriteIndented = true })}");
    }

    void ShowNotification(NotificationMessage message)
    {
        NotificationService.Notify(message);
    }

    async void onClick_send()
    {

        ProgramTargetController programTargetController = ControllerFactory.CreateProgramTargetController();

        foreach (var prop in allTargets.Where(u => u.IsRecommended == 0 && u.ProgramTargetId == TargetResponse))
        {
            programTargetController.UpdateProgramTargetApproval(prop.ProgramTargetId, 1);
        }

        await JSRuntime.InvokeAsync<object>("ErrorAlert", "success", "", "Sent to Approval..");

    }



    //-------------- Date Picker hander --------------------//

    DateTime value1 = DateTime.Today;
    DateTime value2 = DateTime.Today;

    IEnumerable<DateTime> dates = new DateTime[] { DateTime.Today.AddDays(-1), DateTime.Today.AddDays(1) };



    void OnChange(DateTime? value, string name, string format)
    {
    }

    void DateRenderSpecial(DateRenderEventArgs args)
    {
        if (dates.Contains(args.Date))
        {
            args.Attributes.Add("style", "background-color: #ff6d41; border-color: white;");
        }
    }

    void DateRender(DateRenderEventArgs args)
    {
        args.Disabled = args.Disabled || dates.Contains(args.Date);
    }

    void DateRenderNoWeekends(DateRenderEventArgs args)
    {
        args.Disabled = args.Disabled || args.Date.DayOfWeek == DayOfWeek.Sunday || args.Date.DayOfWeek == DayOfWeek.Saturday;
    }

    void OnTodayClick()
    {
        value1 = DateTime.Today;
        value2 = DateTime.Today;
    }


}